

  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      font-family: 'Press Start 2P';
      background-color: rgb(74, 232, 79);
    }
    
  main {
    flex: 1 0 auto;
  }
    
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .brand-logo {
    width:150px;
  }

  .btn {
    font-family: 'Press Start 2P', cursive;
  }

  .select-dropdown {
    font-family: 'Press Start 2P', cursive;
  }

  form > p > label {
    color: blue
  }
  
  li > .brand-logo {
  color: white;
}