

  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      font-family: 'Press Start 2P', cursive;
      background-color: rgb(74, 232, 79);
    }
    
  main {
    flex: 1 0 auto;
  }
    
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .synth-logo {
    margin-left:50px;
    width:150px;
  }