{% extends 'base.html' %}
{% block content %}

<h1>Details About This PowerHouse</h1>

<div class="card">
    <div class="card-container">
        <h5>Brand: {{synth.brand}}</h5>
        <h5>Model: {{synth.model}}</h5>
        <h5>Type: {{synth.s_type}}</h5>
        <h5>rating: {{synth.rating}} </h5>
    </div>
    <div class="card-action">
        <a href="{% url 'synth_update' synth.id %}">UPDATE/UPGRADE**UPDATE</a><br>
        <a href="{% url 'synth_delete' synth.id %}"> DELETE-CONSUME/DELETE</a>
    </div>
</div>
<div class="card">
    <div class="card-container">
        <form action="{% url 'add_patch' synth.id %}" method="post">
            {% csrf_token %}
            {{ patches_form.as_p }}
            <input type="submit" class="btn" value="addPAATCH">
        </form>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>PATCH NAME</th>
                <th>TYPE</th>
                <th>AUTHOR</th>
            </tr>
        </thead>
        <tbody>
            {% for patch in synth.patch_set.all %}
                <tr>
                    <td>{{ patch.name }}</td>
                    <td>{{ patch.get_category_display }}</td>
                    <td>{{ patch.author }}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

</div>
<hr>
<div class="row">
  <div class="col s6">
    <h5>{{ synth.brand }}'s Artists</h3>
    {% if synth.artists.count %}
      {% for artist in synth.artists.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              </span> {{ artist.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Arists! :(</h5>
    {% endif %}
  </div>
    <div class="col s6">
  <h5>/Artists/*</h3>
  {% if artists.count %}
    {% for artist in artists.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ artist.name }}<br>{{artist.genre}}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_artist' synth.id artist.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>DAS <span class="red-text">{{synth.model}}</span> Is the ULTIMATE BEAST</h5>
  {% endif %}

</div>

<script>
    const constPatchTypeEl = document.getElementById('id_category');
    M.FormSelect.init(constPatchTypeEl);
</script>

{% endblock %}